node_modules/
coverage/
src/
scripts/
.github/
.vscode/
.husky/
.env
.gitignore
.prettierignore
.prettierrc
.releaserc.json
tsconfig.json
tsconfig.build.json
api-extractor.json
biome.json
pnpm-lock.yaml
CONTRIBUTING.md
CODE_OF_CONDUCT.md
